div {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    overflow: hidden;

    align-items: center;
}

input {
    border-radius: 50px;
    border: none;
    padding: 5px;
}

#description {
    padding-block: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    margin-top: 10px;
    border-radius: 50px;
    border: none;
    background-color: #9C528B;
    color: #E2C2C6;
}