#taskArea {
    width: 16rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    height: 50vh;
    gap: 5px;
    overflow: auto;

    margin-top: 20px;
}

#filterBar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.buttonFilter {
    background-color: transparent;
    color: white;
    font-weight: 700;
    text-decoration: underline;
}

@media screen and (min-width: 1000px){
    #taskArea {
        width: 40rem;
        grid-template-columns: repeat(4, 2fr);
    }
}